/*Width of main container*/
.container {
  max-width: 1000px;
  padding-right: 15px; /* normal 15 px + 25 px for breadcrumbs.*/
}

/*Navbar on the right, for breadcrumbs*/
.navbar-fixed-right {
  position: fixed;
}

/*Row containing ALL the elements (sections, vis., etc.)*/
#graphic {
  /*border: 11px solid slateblue;*/
  opacity: 50%;
  background-color: #ffffdd;
  padding-top: 60px;
}

/*Sections with the scrolling text on the side*/
#sections {
  position: relative;
  display: inline-block;
  top: 0px;
  z-index: 90;
  /*margin-left: 10px;*/
  /*margin-right: 20px;*/
  padding-bottom: 200px;
}

#breadcrumbs {
  cursor: pointer;
}

.step {
  margin-bottom: 200px;
  font-family: "TiemposTextWeb-Regular","Georgia";
  font-size: 16px;
  line-height: 23px;
  color: #767678;
}

#sections .title {
  font-family: Arial,Helvetica,"san-serif";
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 2px;
  color: #262626;
  line-height: 1.2em;
  padding-left: 0;
}

#extra-space {
  height: 300px;
}

#vis {
  display: inline-block;
  position: fixed; /* --> non-responsiveness, but needed to correctly be placed. */
  top: 60px;
  z-index: 1;
  margin-left: 0;
  padding: 0;
  /*background-color: red;*/
}

#vis .title {
  text-anchor: middle;
}


.axis path,
.axis line {
  fill: none;
  stroke: #666;
  shape-rendering: crispEdges;
}
